# Binários compilados
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Arquivos de saída
/bin/
/pkg/

# Arquivos de log e banco de dados
*.log
*.sql
*.sqlite

# Dependências externas
/vendor/

# Arquivos de configuração IDE/Editor específicos
.vscode/
.idea/
*.swp
*.swo
